PORT=EMPTY
NODE_ENV=EMPTY
MONGO_URL=EMPTY

SMTP_HOST=EMPTY
SMTP_PORT=EMPTY
SMTP_USER=EMPTY
SMTP_PASSWORD=EMPTY
SMTP_FROM=EMPTY

JWT_SECRET=EMPTY

FRONTEND_DOMAIN=EMPTY

CLOUDINARY_CLOUD_NAME=EMPTY
CLOUDINARY_API_KEY=EMPTY
CLOUDINARY_API_SECRET=EMPTY
